# __Homework 1__

## __Question 1:__ What's the version of Pandas that you installed?

In [59]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.1'

In [4]:
!wget -O data.csv https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-18 19:59:06--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>] 853.70K  --.-KB/s    in 0.02s

2025-09-18 19:59:06 (37.1 MB/s) - ‘data.csv’ saved [874188/874188]

In [41]:
data = pd.read_csv('data.csv')
df = pd.DataFrame(data)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## __Question 2:__ How many records are in the dataset?

In [6]:
len(df)

9704

## __Question 3:__ How many fuel types are presented in the dataset?

In [7]:
df['fuel_type'].nunique()

2

## __Question 4:__ How many columns in the dataset have missing values?

In [15]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

## __Question 5:__ What's the maximum fuel efficiency of cars from Asia?

In [21]:
df['fuel_efficiency_mpg'].groupby(df['origin']=='Asia').max()

origin
False    25.967222
True     23.759123
Name: fuel_efficiency_mpg, dtype: float64

## __Qestion 6:__ Median value of horsepower

Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column. <br>
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step. <br>
Now, calculate the median value of horsepower once again. <br>
## Has it changed?

In [26]:
df['horsepower'].median()

149.0

In [35]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [37]:
df['horsepower'].fillna(0)

0       159.0
1        97.0
2        78.0
3         0.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [38]:
df['horsepower'].median()

149.0

## __Question 7:__ Sum of weights
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
## What's the sum of all the elements of the result?

In [60]:
df_mod = df[['vehicle_weight','model_year','origin']]
df_asia = df_mod[df_mod.origin == 'Asia']
df_vwmod = df_asia[['vehicle_weight','model_year']]
X = df_vwmod[:7].to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])