# __Homework 1__

## __Question 1:__ What's the version of Pandas that you installed?

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.1'

In [2]:
!wget -O data.csv https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-04 09:14:48--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>] 853.70K  --.-KB/s    in 0.02s

2025-10-04 09:14:49 (34.7 MB/s) - ‘data.csv’ saved [874188/874188]

In [3]:
data = pd.read_csv('data.csv')
df = pd.DataFrame(data)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## __Question 2:__ How many records are in the dataset?

In [4]:
len(df)

9704

## __Question 3:__ How many fuel types are presented in the dataset?

In [5]:
df['fuel_type'].nunique()

2

## __Question 4:__ How many columns in the dataset have missing values?

In [6]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

## __Question 5:__ What's the maximum fuel efficiency of cars from Asia?

In [7]:
df['fuel_efficiency_mpg'].groupby(df['origin']=='Asia').max()

origin
False    25.967222
True     23.759123
Name: fuel_efficiency_mpg, dtype: float64

## __Qestion 6:__ Median value of horsepower

Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column. <br>
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step. <br>
Now, calculate the median value of horsepower once again. <br>
## Has it changed?

In [8]:
df['horsepower'].median()

149.0

In [9]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [12]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [20]:
df['horsepower'] = df['horsepower'].fillna(152)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [21]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [22]:
df['horsepower'].median()

152.0

## __Question 7:__ Sum of weights
Select all the cars from Asia <br>
Select only columns vehicle_weight and model_year<br>
Select the first 7 values<br>
Get the underlying NumPy array. Let's call it X.<br>
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.<br>
Invert XTX.<br>
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].<br>
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.<br>
## What's the sum of all the elements of the result?

In [29]:
df_mod = df[['vehicle_weight','model_year','origin']]
df_asia = df_mod[df_mod.origin == 'Asia']
df_vwmod = df_asia[['vehicle_weight','model_year']]
X = df_vwmod[:7].to_numpy()
np.round(X,0)

array([[2714., 2016.],
       [2784., 2010.],
       [3583., 2007.],
       [2232., 2011.],
       [2659., 2016.],
       [2844., 2014.],
       [3762., 2019.]])

In [32]:
XTX = X.T.dot(X)
invXTX = np.linalg.inv(XTX)
iXT = invXTX.dot(X.T)

y = [1100, 1300, 800, 900, 1000, 1100, 1200]

w = iXT.dot(y)
np.round(w,2)

array([0.01, 0.5 ])